include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include ipds *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
